.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  
  .card {
    width: 200px; /* O cualquier otro tamaño que prefieras */
    height: 300px; /* O cualquier otro tamaño que prefieras */
    border: 3px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.6); /* Transparencia */
    color: white;
    text-shadow: 2px 2px 4px black;
    }
  
  .card h2 {
    color: white;
    -webkit-text-stroke: 1px black;
    /* Para navegadores que soporten la versión no prefijada */
  }
  .card img {
    width: 100%;
    border-radius: 50%; /* Hace que la imagen sea redonda */
  }  
  
  .corazon {
    position: absolute;
    top: 0;
    right: 0;
  }
 
  
 